{% extends "base_template.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div
  class="container signin-container rounded-3 p-2 d-flex flex-column align-items-center justify-content-center mt-3 pb-4 mb-5">
  <h1 class="text-center text-uppercase fw-bold fs-2"><i class="fa fa-snowflake-o snowflake-icon"
      aria-hidden="true"></i>
    {% trans "Sign in" %}
    <i class="fa fa-snowflake-o snowflake-icon" aria-hidden="true"></i>
  </h1>
  <form class="login d-flex justify-content-start flex-column" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="button-container w-100 text-center">
      <button class="mt-4 w-50 p-3 login-btn primaryAction rounded-2" type="submit">{% trans "Sign In" %}</button>
    </div>
    <a class="text-center mt-4 button secondaryAction forgot-password" href="{% url 'account_signup' %}">
      Don't
      have an account? Sign Up!</a>
    <a class="text-center button secondaryAction forgot-password" href="{% url 'account_reset_password' %}">Forgot your
      password?</a>
  </form>
</div>

{% endblock %}