{% load static %}



<nav class="navbar navbar-expand-lg navbar-light bg-secondary rounded-bottom">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"> wEshare </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
            <span class="navbar-text text-white">
                Username - status
                <br>
                How do you feel today?
                <label for="customRange1" class="form-label"></label>
                <input type="range" class="form-range" id="customRange1">
                <br>
                email@workemail.com
                <br>
            </span>

        </div>
    </div>
</nav>

<h1 class="display-4 text-success">It works!</h1>

<div class="container p-5 my-5 bg-dark text-white rounded">This is my first post, I anonymosly want to wish everyone good and productive day</div>