{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<header>
	{% include 'nav.html' %}
</header>
<div class="container">
	<div class="row text-center d-flex">
		<div class="col-12">
			<small>
				<p class="prompt" id="activity"></p>
			</small>
		</div>
	</div>
</div>
<h1 class="display-4 text-success text-center">Feed</h1>
<div class="container">
	<div class="row">
		{% for post in posts %}
		<div class="col-12">
			<div class="card my-3">
				<p>{{ post.user }}: {{ post.description }}
					{{ post.content }}
				</p>
				<p class="text-small">{{ post.date_published }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>




{% endblock %}`