@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

/*Background styles */
/* Code sourced from here: https://www.sliderrevolution.com/resources/css-animated-background/*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body.log-in-page {
	font-family: 'Open sans', sans-serif;
	background: linear-gradient(-45deg, #57c0b4, #20685f, #117267, #57c0b4);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	min-height: 100vh;
	letter-spacing: 4px;
	color: #fcfcfc;
}

a:link,
a:visited {
	color: #fcfcfc;
	text-decoration: none;
	border-bottom: 0.5px solid #fcfcfc;
	padding-bottom: 2px;
}

/* Background animation */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* Sign up page styles */

.weshare-intro {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	align-items: center;
	justify-items: center;
}

.weshare-intro h2 {
	line-height: 2;
	letter-spacing: 2px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #2b5c56;
	text-shadow: 6px 6px #256b63;
	font-size: 1.5rem;
}

.intro-grid-row-2 {
	grid-row: 2/3;
	font-size: 2.8424rem;
	padding: 20px;
	text-transform: uppercase;
}

p {
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: center;
}

p.intro-grid-row-2 {
	transform: translate(-50%, -50%);
	letter-spacing: 0.1em;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2b5c56;
	text-shadow: 6px 6px #256b63;
}

#sign-in-section {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	margin: auto;
	text-align: center;
}

#sign-in-section,
#sign-in-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

#sign-in-form {
	margin: auto;
	width: 10rem;
	padding: 20px;
}

.text-input {
	background: #fcfcfc;
	color: #252525;
	height: 40px;
	border-radius: 50px;
	border: 1px solid #fcfcfc;
	margin: 10px;
	padding: 10px;
}

.text-input:hover {
	border: 2px solid #57c0b4;
}

.login-button {
	margin-top: 20px;
	border-radius: 40px;
	padding: 15px 32px 15px 32px;
	text-align: center;
	font-size: 100%;
	background-color: #e9c46a;
	border: 2px solid #57c0b4;
	color: #252525;
}

.login-button:hover {
	background-color: #fafafa;
	color: #57c0b4;
	border: 2px solid #e9c46a;
}


