@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

/*Background styles */
/* Code for background gradient sourced from here: https://www.sliderrevolution.com/resources/css-animated-background/*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open sans', sans-serif;
	letter-spacing: 4px;
}

body.log-in-page,
body.log-in-out-page {
	background: linear-gradient(-45deg, #57c0b4, #20685f, #117267, #57c0b4);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	min-height: 100vh;
	letter-spacing: 4px;
	color: #fcfcfc;
}

a:link,
a:visited {
	color: #fcfcfc;
	text-decoration: none;
	padding-bottom: 2px;
	font-family: 'Open Sans', sans-serif;
}

a:link:hover {
	border-bottom: 1px solid #fcfcfc;
}

/* Background animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* Sign up page styles */
.weshare-intro,
.weshare-outro {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	align-items: center;
	justify-items: center;
	padding: 0 20px;
	text-align: center;
}

.weshare-intro h2,
.weshare-outro h2 {
	line-height: 2;
	letter-spacing: 2px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #2b5c56;
	text-shadow: 6px 6px #256b63;
	font-size: 1.8rem;
}

.intro-grid-row-2,
h1.intro-grid-row-2 {
	grid-row: 2/3;
	padding: 20px;
	text-transform: uppercase;
	font-size: 2.8rem;
}

.tagline {
	transform: translate(-50%, -50%);
	letter-spacing: 0.1em;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2b5c56;
	text-shadow: 6px 6px #256b63;
}

#sign-in-section,
#log-out-section {
	padding: 10px;
	text-align: center;
}

#sign-in-section,
#log-out-section,
#sign-in-form,
#log-out-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Username and password input styles */
input#id_login,
input#id_password {
	background: #fcfcfc;
	color: #252525;
	height: 50px;
	width: 300px;
	border-radius: 50px;
	border: 1px solid #fcfcfc;
	margin: 10px;
	padding: 10px;
}

input#id_login:hover,
input#id_password:hover {
	border: 2px solid #57c0b4;

}

/* Log in button styles */
button.primaryAction,
.logout-button {
	margin-top: 20px;
	border-radius: 40px;
	padding: 15px 32px 15px 32px;
	text-align: center;
	font-size: 100%;
	background-color: #e9c46a;
	border: 2px solid #57c0b4;
	color: #252525;
}

button.primaryAction:hover,
.logout-button:hover {
	background-color: #fafafa;
	color: #57c0b4;
	border: 2px solid #e9c46a;
}

p#activity {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

a.navbar-brand {
	font-family: 'Comforter', cursive;
	font-family: 2rem;
}

/* Posts Page Styles */
.card {
	color: white;
	background-color: #927397;
	margin: 10px 40px;
	border: 2px solid #dedede;
	border-radius: 10px;
	padding: 10px;
}

.btn {
	background-color: #0b6623;
}

.btn-primary {
	border: none;
	margin-top: 15px;
	margin-right: 10px;
	float: right;

}

.btn-primary:hover {
	background-color: #cc92f8;
}