<!DOCTYPE html>
<html>

<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% include 'nav.html' %}
    {% block body %}

    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div>
        <strong>Menu:</strong>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>

</html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="allauth-inner-content">
  <div class="container-fluid mx-auto px-0">
    <div class="col-12 text-center">
      {% block inner_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}