{% extends "base.html" %}

{% load i18n %}

{% block content %}

<h1>Sign In</h1>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">Sign In</button>
  <br>
</form>

<p class="body-sm text-center py-1">{% blocktrans %}Don't have an account?<br>
  <a href="{{ signup_url }}" class="link-font">Sign Up!</a>{% endblocktrans %}
</p>
{% endblock %}