{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<body class="log-in-page">
  <div class="mt-5 pt-5"></div>
  <section id="sign-up pt-5 my-5 mx-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <p class="fw-bold text-center"> {% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="button-container w-100 text-center">
              <button class="mt-4 w-50 p-2 logout-btn primaryAction rounded-2" type="submit">Sign Out</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

{% endblock %}